<h1>xác nhận xoá</h1>
        <form action="/book/delete/<%=book._id%>" method="post" enctype="multipart/form-data">
            <a href="/book/delete/<%=book._id%>" class="" ><button type="submit">a</button></a>
            <a href="/book/list" class="">no</a>
        </form>